.dockerignore
Dockerfile
docker-compose.yml

.git
.gitignore
.gitattributes

.prettierrc
node_modules/
.idea/
asset/
data/
templateMatching/
training/
!training/outputTessdata/chi_sim.traineddata
*.log
*.traineddata
devIndex.ts
build_docker.sh
